<h1>Gists</h1>

<table>
  <tr>
    <th>Question:</th>
    <th>Gist URL:</th>
    <th>User Email:</th>
  </tr>

  <%= render partial: 'admin/gists/gist', collection: Gist.all%>

</table>

<%= link_to "Back", admin_tests_path %>