<h1>Test passsed</h1>
<%= result = @test_passage.correct_questions.to_f / @test_passage.test.questions.count.to_f * 100 %>
<% if result >= 85 %>
	<p style = "color: green;"> You passed! <%= result %>%</p>
<% else %>
	<p style="color: red;"> You faild! <%= result %>% </p>
<% end %>	

<%= link_to "Back", tests_path %>