<footer style = "position: absolute; left: 0; bottom: 100px; width: 100%; height: 80px;">
	<p> <%= current_year %> </p>
	<p> Автор: Шин Ярослва Вадимович</p>
	<p> <%= github_url('SitNis','Rails-study') %></p>
	<p><%= link_to "Учебный проект в онлайн-школе", "http://thinknetica.com", rel: "nofollow", target: "_blank" %></p>
</footer>