<% if user_signed_in? %> 
  <p> Welcome, <%= current_user.email %> Guru. </p>
  <p> <%= button_to('Logout', destroy_user_session_path, method: :delete)  %></p>
<% else %>
  <p>Welcome!</p>
  <p><%= link_to "Registration", new_user_registration_path %></p>
<% end %>