<% if logged_in? %> 
  <p> Welcome, <%= current_user.email %> Guru. </p>
  <p> <%= link_to "Logout",     
          logout_path, 
          method: "delete",
          data: { confirm: 'Are you sure?'}  %></p>
<% end %>